<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.base.entity.mapper.CdActivityAddressMapper" >
  <resultMap id="BaseResultMap" type="com.xmomen.module.base.entity.CdActivityAddress" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COUPON_NUMBER" property="couponNumber" jdbcType="VARCHAR" />
    <result column="CONSIGNMENT_NAME" property="consignmentName" jdbcType="VARCHAR" />
    <result column="CONSIGNMENT_PHONE" property="consignmentPhone" jdbcType="VARCHAR" />
    <result column="CONSIGNMENT_ADDRESS" property="consignmentAddress" jdbcType="VARCHAR" />
    <result column="SEND_TIME" property="sendTime" jdbcType="DATE" />
    <result column="SEND_COUNT" property="sendCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, COUPON_NUMBER, CONSIGNMENT_NAME, CONSIGNMENT_PHONE, CONSIGNMENT_ADDRESS, SEND_TIME, 
    SEND_COUNT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xmomen.module.base.entity.CdActivityAddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cd_activity_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xmomen.module.base.entity.CdActivityAddressExample" >
    delete from cd_activity_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.xmomen.module.base.entity.CdActivityAddress" useGeneratedKeys="true" keyProperty="id" keyColumn="ID" >
    insert into cd_activity_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="couponNumber != null" >
        COUPON_NUMBER,
      </if>
      <if test="consignmentName != null" >
        CONSIGNMENT_NAME,
      </if>
      <if test="consignmentPhone != null" >
        CONSIGNMENT_PHONE,
      </if>
      <if test="consignmentAddress != null" >
        CONSIGNMENT_ADDRESS,
      </if>
      <if test="sendTime != null" >
        SEND_TIME,
      </if>
      <if test="sendCount != null" >
        SEND_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="couponNumber != null" >
        #{couponNumber,jdbcType=VARCHAR},
      </if>
      <if test="consignmentName != null" >
        #{consignmentName,jdbcType=VARCHAR},
      </if>
      <if test="consignmentPhone != null" >
        #{consignmentPhone,jdbcType=VARCHAR},
      </if>
      <if test="consignmentAddress != null" >
        #{consignmentAddress,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=DATE},
      </if>
      <if test="sendCount != null" >
        #{sendCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xmomen.module.base.entity.CdActivityAddressExample" resultType="java.lang.Integer" >
    select count(*) from cd_activity_address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cd_activity_address
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.couponNumber != null" >
        COUPON_NUMBER = #{record.couponNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.consignmentName != null" >
        CONSIGNMENT_NAME = #{record.consignmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.consignmentPhone != null" >
        CONSIGNMENT_PHONE = #{record.consignmentPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.consignmentAddress != null" >
        CONSIGNMENT_ADDRESS = #{record.consignmentAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null" >
        SEND_TIME = #{record.sendTime,jdbcType=DATE},
      </if>
      <if test="record.sendCount != null" >
        SEND_COUNT = #{record.sendCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>