<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.base.entity.mapper.CdItemRefMapper" >
  <resultMap id="BaseResultMap" type="com.xmomen.module.base.entity.CdItemRef" >
    <id column="CD_ITEM_REF_ID" property="cdItemRefId" jdbcType="INTEGER" />
    <result column="REF_TYPE" property="refType" jdbcType="VARCHAR" />
    <result column="REF_NAME" property="refName" jdbcType="VARCHAR" />
    <result column="REF_VALUE" property="refValue" jdbcType="VARCHAR" />
    <result column="CD_ITEM_ID" property="cdItemId" jdbcType="INTEGER" />
    <result column="REF_COUNT" property="refCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CD_ITEM_REF_ID, REF_TYPE, REF_NAME, REF_VALUE, CD_ITEM_ID, REF_COUNT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xmomen.module.base.entity.CdItemRefExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cd_item_ref
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xmomen.module.base.entity.CdItemRefExample" >
    delete from cd_item_ref
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.xmomen.module.base.entity.CdItemRef" useGeneratedKeys="true" keyProperty="cdItemRefId" keyColumn="CD_ITEM_REF_ID" >
    insert into cd_item_ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cdItemRefId != null" >
        CD_ITEM_REF_ID,
      </if>
      <if test="refType != null" >
        REF_TYPE,
      </if>
      <if test="refName != null" >
        REF_NAME,
      </if>
      <if test="refValue != null" >
        REF_VALUE,
      </if>
      <if test="cdItemId != null" >
        CD_ITEM_ID,
      </if>
      <if test="refCount != null" >
        REF_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cdItemRefId != null" >
        #{cdItemRefId,jdbcType=INTEGER},
      </if>
      <if test="refType != null" >
        #{refType,jdbcType=VARCHAR},
      </if>
      <if test="refName != null" >
        #{refName,jdbcType=VARCHAR},
      </if>
      <if test="refValue != null" >
        #{refValue,jdbcType=VARCHAR},
      </if>
      <if test="cdItemId != null" >
        #{cdItemId,jdbcType=INTEGER},
      </if>
      <if test="refCount != null" >
        #{refCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xmomen.module.base.entity.CdItemRefExample" resultType="java.lang.Integer" >
    select count(*) from cd_item_ref
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cd_item_ref
    <set >
      <if test="record.cdItemRefId != null" >
        CD_ITEM_REF_ID = #{record.cdItemRefId,jdbcType=INTEGER},
      </if>
      <if test="record.refType != null" >
        REF_TYPE = #{record.refType,jdbcType=VARCHAR},
      </if>
      <if test="record.refName != null" >
        REF_NAME = #{record.refName,jdbcType=VARCHAR},
      </if>
      <if test="record.refValue != null" >
        REF_VALUE = #{record.refValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cdItemId != null" >
        CD_ITEM_ID = #{record.cdItemId,jdbcType=INTEGER},
      </if>
      <if test="record.refCount != null" >
        REF_COUNT = #{record.refCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>