<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.base.mapper.CouponCategoryMapper" >

<!--        查询消息    -->
	<select id="getChoseItemList" resultType="com.xmomen.module.base.model.ItemChildModel" parameterType="java.util.HashMap">
        SELECT
			cm.id,
        	cm.item_name,
			cm.item_code,
			cm.sell_status,
        	cc.category_name,
        	cir.ref_count as count
        FROM
			cd_coupon_category_ref cir
		left join 
			cd_item cm on cm.id = cir.REF_VALUE
   		left join 
        	cd_category cc on cm.cd_category_id = cc.id	
        <where>
        cir.REF_TYPE='TICKET_ITEM'
             <if test = 'parentId'>
             	AND cir.CD_COUPON_CATEGORY_ID = #{parentId}
             </if>	
        </where>
    </select>
</mapper>