<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-4">
				<!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>包装页面</h2>
				</header>
				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->
					<!-- widget content -->
					<div class="widget-body no-padding">

                        <form class="form-horizontal">
                            <fieldset class="demo-switcher-1">
                                <legend>任务信息</legend>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">产品名称：</label>
                                    <div class="col-md-2">
                                        <span style=" font-weight:bold;font-size:26px">{{packageTask.itemName}}</span>
                                    </div>
                                    <label class="col-md-1 control-label">产品编码：</label>
                                    <div class="col-md-2">
                                        <span style=" font-weight:bold;font-size:26px">{{packageTask.itemCode}}</span>
                                    </div>
                                    <label class="col-md-1 control-label">规格：</label>
                                    <div class="col-md-2">
                                        <span style=" font-weight:bold;font-size:26px">{{packageTask.spec}}</span>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label">任务数：</label>
                                <div class="col-md-2">
                                    <span style=" font-weight:bold;font-size:26px">{{packageTask.countValue}}</span>
                                </div>
                                <label class="col-md-1 control-label">已完成数：</label>
                                <div class="col-md-2">
                                    <span style="color:green; font-weight:bold;font-size:26px">{{packageTask.finishValue}}</span>
                                </div>
                                <label class="col-md-1 control-label">未完成数：</label>
                                <div class="col-md-2">
                                    <span style="color:red; font-weight:bold;font-size:26px">{{packageTask.noFinishValue}}</span>
                                </div>
                            </div>
                            </fieldset>
                            <fieldset class="demo-switcher-1">
                                <legend>工作区</legend>
                                <div class="form-group">
                                    <label class="col-md-1 control-label">重量：</label>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-md">
                                            <input type="text"  ng-model="packageTask.weight" ng-keyup="printBarCodeEvent($event);"  placeholder="输入重量回车自动打印条码"  name="weight" class="form-control" id="weight">
                                        </div>
                                    </div>
                                    <label class="col-md-1 control-label">批量打印：</label>
                                    <div class="col-md-2">
                                        <div class="input-group input-group-md">
                                            <input type="text"  ng-model="packageTask.batch" ng-keyup="printBatchBarCodeEvent($event);"  placeholder="输入数量按回车自动批量打印"  name="batch" class="form-control" id="batch">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="button" ng-click="nextPackageTask(packageTask.id)">
                                            <i class="fa fa-refresh"></i>
                                            下一个任务
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary" type="button" ui-sref="packageTask">
                                            <i class="fa fa-refresh"></i>
                                            返回任务列表
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed table-hover smart-form has-tickbox">
                                <thead>
                                <tr>
                                    <!--<th>-->
                                        <!--<label class="checkbox">-->
                                            <!--<input type="checkbox" name="checkbox-inline">-->
                                            <!--<i></i>-->
                                        <!--</label>-->
                                    <!--</th>-->
                                    <th width="120">条码号</th>
                                    <th width="120">产品编码</th>
                                    <th width="80">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="jobOperationLog in jobOperationLogList"  ng-if="jobOperationLogList.length > 0" ng-mouseenter="show=true" ng-mouseleave="show=false">
                                    <td ng-bind="jobOperationLog.barCode"></td>
                                    <td ng-bind="jobOperationLog.itemCode"></td>
                                    <td width="180">
                                        <a ng-show="show" ng-if="order.orderStatus != 9" href="javascript:void(0);" data-ng-click="cancelJobOperationLog($index)" title="作废：{{jobOperationLog.barCode}}">
                                            <span class="fa fa-trash-o"></span>
                                        </a>
                                        <a ng-show="show" ng-if="order.orderStatus != 9" href="javascript:void(0);" data-ng-click="print(jobOperationLog.barCode)" title="重新打印：{{jobOperationLog.barCode}}">
                                            <span class="fa fa-print"></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="jobOperationLogList == null || jobOperationLogList.length == 0">
                                    <td colspan="11">
                                        <div>暂无数据</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dt-toolbar-footer">
                            <div class="col-xs-12 col-sm-12">
                                <ug-pagination page-info="operationLogPageInfoSetting" ></ug-pagination>
                            </div>
                        </div>
					</div>
					<!-- end widget content -->
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->