<div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
    <ul class="pagination pagination-sm">
        <li class="paginate_button previous" ng-class="{disabled:curPage==1}" aria-controls="dt_basic" tabindex="0" id="dt_basic_previous">
            <a ng-if="curPage==1">上一页</a>
            <a ng-if="curPage!=1" ng-click="skipPage(curPage-1)">上一页</a>
        </li>
        <li ng-repeat="page in pageList"
            ng-class="{active:curPage==page.num,disabled:page.isOmit}"
            class="paginate_button" aria-controls="dt_basic" tabindex="0">
            <a ng-click="skipPage(page.num)"  ng-show="!page.isOmit">{{page.num}}</a>
            <a href="#" ng-show="page.isOmit">{{page.text}}</a>
        </li>
        <li class="paginate_button" ng-class="{next:curPage!=pages,disabled:curPage==pages}" aria-controls="dt_basic" tabindex="0" id="dt_basic_next">
            <a ng-if="curPage!=pages" ng-click="skipPage(curPage+1)">下一页</a>
            <a ng-if="curPage==pages" href="#">下一页</a>
        </li>
    </ul>
    <div style="line-height: 34px; float: right; margin-right: 6px;font-size: 13px;">
        每页页数：
        <select style="height: 20px;" name="pageConfig.pageSize" ng-model="maxPageSize" ng-change="changeMaxPageSize()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
        </select>，共有 <span class="text-primary">{{total}}</span> 条，当前页 <span class="txt-color-darken">{{curPage}}</span> / <span class="txt-color-darken">{{pages}}</span> 总页数</div>
</div>