
<!-- User info -->
<div class="login-info" data-ng-controller="LeftPanelController">
    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->

        <a ui-sref="dashboard" id="show-shortcut" >
            <img src="img/avatars/sunny.png" alt="me" class="online" />
            <span data-localize="account.username">
                {{account.username}}
            </span>
        </a>

    </span>
</div>
<!-- end user info -->

<!-- NAVIGATION : This navigation is also responsive

To make this navigation dynamic please make sure to link the node
(the reference to the nav > ul) after page load. Or the navigation
will not initialize.
-->

<navigation xmlns:nav="http://www.w3.org/2001/XMLSchema">
    <nav:item ui-sref="dashboard" data-icon="fa fa-fw fa-home" title="控制板" />
    <div permission only="'BASE_MENU'">
        <nav:group data-icon="fa fa-fw fa-database" title="基础数据">
            <div permission only="'DICTIONARY_VIEW'">
                <nav:item ui-sref="dictionary" title="数据字典"/>
            </div>
            <div permission only="'COMPANY_VIEW'">
                <nav:item ui-sref="company_list" title="单位/公司"/>
            </div>
            <div permission only="'MEMBER_VIEW'">
                <nav:item ui-sref="member_list" title="客户信息"/>
            </div>
            <div permission only="'PRODUCT_VIEW'">
                <nav:item ui-sref="item" title="产品信息"/>
            </div>
            <div permission only="'PRODUCT_CATEGORY_VIEW'">
                <nav:item ui-sref="itemCategory" title="产品分类"/>
            </div>
            <div permission only="'CONTRACT_VIEW'">
                <nav:item ui-sref="contract" title="合同管理"/>
            </div>
            <div permission only="'ACTIVITY_VIEW'">
                <nav:item ui-sref="activity" title="活动管理"/>
            </div>
            <div permission only="'EXPRESS_LIST'">
                <nav:item ui-sref="expressList" title="快递商管理"/>
            </div>
            <div permission only="'EXPRESS_MEMBER_LIST'">
                <nav:item ui-sref="expressMemberList" title="快递员管理"/>
            </div>
        </nav:group>
    </div>
    <!--<div permission only="'COUPON_MENU'">-->
        <!--<nav:group data-icon="fa fa-fw fa-credit-card" title="卡劵管理">-->
            <!--<div permission only="'COUPON_CATEGORY_VIEW'">-->
                <!--<nav:item ui-sref="couponCategory" title="卡劵类型"/>-->
            <!--</div>-->
            <!--<div permission only="'COUPON_VIEW'">-->
                <!--<nav:item ui-sref="coupon" title="卡券管理"/>-->
            <!--</div>-->
            <!--<div permission only="'ONLINE_RECHARGE'">-->
                <!--<nav:item ui-sref="onlineRecharge" title="在线充值"/>-->
            <!--</div>-->
            <!--<div permission only="'COUPON_ACTIVITY_VIEW'">-->
                <!--<nav:item ui-sref="couponActivity" title="金额等信息回填"/>-->
            <!--</div>-->
            <!--<div permission only="'COUPON_ACTIVITY_VIEW'">-->
                <!--<nav:item ui-sref="couponActivityAddress" title="地址回填"/>-->
            <!--</div>-->
            <!--<div permission only="'COUPON_AUDIT_VIEW'">-->
                <!--<nav:item ui-sref="couponAudit" title="预付款金额审核"/>-->
            <!--</div>-->
            <!--<div permission only="'COUPON_AUDIT_BACK_VIEW'">-->
                <!--<nav:item ui-sref="couponAuditBack" title="后付款金额审核"/>-->
            <!--</div>-->
            <!--<div permission only="'TRADE_RECORD_VIEW'">-->
                <!--<nav:item ui-sref="tradeRecordList" title="金额调整记录"/>-->
            <!--</div>-->
        <!--</nav:group>-->
    <!--</div>-->
    <div permission only="'PLAN_MENU'">
        <nav:group data-icon="fa fa-fw fa-road" title="餐桌计划">
            <div permission only="'BASE_PLAN'">
                <nav:item ui-sref="basePlan" title="计划设定" />
            </div>
            <div permission only="'TABLE_PLAN'">
                <nav:item ui-sref="tablePlan" title="餐桌计划查询" />
            </div>
        </nav:group>
    </div>
    <div permission only="'ORDER_MENU'">
        <nav:group data-icon="fa fa-fw  fa-reorder" title="订单管理">
            <div permission only="'ORDER_VIEW'">
                <nav:item ui-sref="order" title="订单列表" />
            </div>
            <div permission only="'PURCHASE_VIEW'">
                <nav:item ui-sref="purchase" title="采购计划" />
            </div>
        </nav:group>
    </div>
    <div permission only="'PACKAGE_MENU'">
        <nav:group data-icon="fa fa-fw fa-cubes" title="包装管理">
            <div permission only="'PACKAGE_TASK_DOWN'">
                <nav:item ui-sref="packageTaskDown" title="任务下发" />
            </div>
            <div permission only="'PACKAGE_TASK'">
                <nav:item ui-sref="packageTask" title="包装任务" />
            </div>
            <div permission only="'PACKAGE_TASK_VIEW'">
                <nav:item ui-sref="packageTaskView" title="任务进度看板" />
            </div>
        </nav:group>
    </div>
    <div permission only="'PACKING_MENU'">
        <nav:group data-icon="fa fa-fw fa-cube" title="装箱管理">
            <div permission only="'PACKING_TASK'">
                <nav:item ui-sref="packing_task" title="任务分配" />
            </div>
            <div permission only="'PACKING_TASK'">
                <nav:item ui-sref="packingTaskSuccessList" title="装箱已分配" />
            </div>
            <div permission only="'PACKING_VIEW'">
                <nav:item ui-sref="order_packing" title="装箱任务" />
            </div>
            <div permission only="'PACKING_LIST_VIEW'">
                <nav:item ui-sref="packing" title="任务进度看板" />
            </div>
        </nav:group>
    </div>

    <div permission only="'DESPATCH_MENU'">
        <nav:group data-icon="fa fa-fw fa-send" title="发运管理">
            <div permission only="'DESPATCH_JOB'">
                <nav:item ui-sref="despatch_job" title="发运分配" />
            </div>
            <div permission only="'DESPATCH_JOB'">
                <nav:item ui-sref="despatchSuccessList" title="发运已分配" />
            </div>
            <div permission only="'DESPATCH_OPERATION'">
                <nav:item ui-sref="despatch_operation" title="快递商提货" />
            </div>
        </nav:group>
    </div>

    <div permission only="'RECEIPT_MENU'">
        <nav:group data-icon="fa fa-fw fa-lock" title="收退货管理">
            <div permission only="'RECEIVING_CODE'">
                <nav:item ui-sref="receivingCode" title="收货码管理" />
            </div>
            <div permission only="'RECEIVING_CODE_REQUEST'">
                <nav:item ui-sref="receivingCodeRequest" title="收货码请求" />
            </div>
            <div permission only="'REVIEW_DESPATCH'">
                <nav:item ui-sref="reviewDespatch" title="二次配送审核" />
            </div>
            <div permission only="'REVIEW_DESPATCH'">
                <nav:item ui-sref="twoSendOrderList" title="二次配送订单" />
            </div>
            <div permission only="'RETURN_AUDIT'">
                <nav:item ui-sref="returnOrder" title="退货订单" />
            </div>
            <!--<div permission only="'RETURN_ORDER_SHOUHUO'">-->
                <nav:item ui-sref="returnOrderShouHuo" title="退货收货" />
            <!--</div>-->
        </nav:group>
    </div>

    <div permission only="'PICK_MENU'">
        <nav:group data-icon="fa fa-fw fa-paragraph" title="采摘管理">
            <div permission only="'PICK'">
                <nav:item ui-sref="pick" title="采摘结算" />
            </div>
            <div permission only="'CARD_RECHARGE'">
                <nav:item ui-sref="cardRecharge" title="充值" />
            </div>
            <div permission only="'PICK_CARD'">
                <nav:item ui-sref="pickCard" title="办新卡" />
            </div>
            <div permission only="'EXCHANGE_CARD'">
                <nav:item ui-sref="exchangeCard" title="换卡" />
            </div>
        </nav:group>
    </div>
    <div permission only="'REPORT_MENU'">
        <nav:group data-icon="fa fa-fw fa-cubes" title="报表管理">
            <div permission only="'REPORT_ORDER'">
                <nav:item ui-sref="reportOrder" title="报表下载" />
            </div>

            <div permission only="'REPORT_FINANCE'">
                <nav:item ui-sref="reportFinance" title="财务报表" />
            </div>
        </nav:group>
    </div>
    <div permission only="'SYSTEM_MENU'">
        <nav:group data-icon="fa fa-fw  fa-cogs" title="系统管理">
            <div permission only="'USER_VIEW'">
                <nav:item ui-sref="user_list" title="用户管理"/>
            </div>
            <div permission only="'USER_GROUP_VIEW'">
                <nav:item ui-sref="group_list" title="用户组管理"/>
            </div>
            <div permission only="'PERMISSION_VIEW'">
                <nav:item ui-sref="permission_list" title="权限管理" />
            </div>
            <div permission only="'ORGANIZATION_VIEW'">
                <nav:item ui-sref="organization" title="组织管理" />
            </div>
            <div permission only="'SCHEDULE_VIEW'">
                <nav:item ui-sref="schedule" title="任务调度" />
            </div>
        </nav:group>
    </div>
</navigation>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
