.vaild {color: red;}
.login-info{ border-bottom: 1px solid #fff}
.login-info>span{ border-bottom: 1px solid #d7d5d5;}
nav ul .active > a{background: #538ba6}
nav ul .active > a:hover{background: #538ba6}
nav ul li.open > a, nav ul li.open > a b{color: #333 !important}
nav ul li a{ color: #333;}
nav ul li a:hover{ color: #333;}
nav ul li a:active{background:none!important}
nav ul ul{ background: none;}
nav ul ul li a:hover{ color: #333; background: none}

.logo-tt{ display: inline-block; margin: 0px; padding: 0px; padding-left: 40px; line-height: 48px; color: #fff; font-size: 16px; font-weight: bold; font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif}
.logo-eng{ display: inline-block; margin: 0px; padding: 0px; padding-left: 10px; line-height: 48px; color: #fff; font-size: 14px; font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif}
aside{ background: #e8e8e8}
#header{ background: #538ba6}
#header>:first-child{ width: 500px;}
#ribbon{ background:none}
#ribbon .breadcrumb, #ribbon .breadcrumb a{ color: #333!important}
#ribbon .breadcrumb li:last-child, #ribbon .breadcrumb > .active{ color: #333}
.page-footer{ background: #4b4b4b;}
#main{ padding-bottom: 25px;}
.new-foot{width: 100%; height: 40px; background: #4b4b4b; color: #f2f2f2; line-height: 40px; text-align: center; font-size: 12px;  z-index: 9999; position: absolute; bottom: 0;}
.btn-header > *:first-child > a{ background: none; border: 1px solid #fff; color: #fff;}
.btn-header > *:first-child > a:hover{ color: #fff;border: 1px solid #f1f1f1;}
.btn-header.pull-right{ margin-left: 10px;}
.hidden-menu #hide-menu>:first-child>a{ background: #407995; border: 1px solid #295b73}

.header-dropdown-list,.ribbon-button-alignment,.minifyme{ display: none}
#fullscreen,#demo-setting{ display: none}
.error {
    color: red;
}
.chose-tr {
    background-color: #CECE07!important;
}
.tree-hide {
    display: none;
}
.tdred{
    background:red;
}

.edui-default {
    z-index: 1100;
}